#featured{
    object-fit: cover;
    border: solid 3px black;
    max-width: 600px;
    max-height: 600px;
    cursor: pointer;
}

.thumbnail{
    object-fit: cover;
    border: solid 2px black;
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
    opacity: 0.5;
}

.thumbnail:hover{
    opacity: 1;
}

.active{
    opacity: 1;
}